@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@900&display=swap');
@import-normalize;

body {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}

.leaflet-container {
    width: 100vw;
    height: 100vh;
}

